

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landButton {
    height: 20vh;
    width: 50vw;
    border-radius:15px;

}

.landButton:hover {
    filter: brightness(150%);
}


.landButton h2 {
    font-size: clamp(2vw,3.5vw,4.5vw);

}

.removeUnderline {
    text-decoration: none;
}